/* 去除整体边框 */
body{ margin: 0rem; }

/* 手形 */
.cursor{
cursor: pointer;
}
/* 导航栏 */
.nav{
	height: 30px;
	width: 100%;
	background-color:rgba(200, 200, 200, 0.3) ;
}
.nav-a{
	box-sizing: border-box;
	padding: 0px 0px 0px 20px;
	display: flex;
	margin: 0px auto;
	width: 1200px;
	height: 30px;
	align-items: center;
}
.nav-b{
	height: 0.625rem;
	color: #999;
	font-size: 12px;
	text-decoration: none;
	line-height: 10px;
	padding: 0px 10px;
	border-right: #aaa solid 1px;
}
.nav-b:hover{
	color: #e11;
}
.nav-b:nth-last-child(1){
	padding-right: 5px;
}
.nav-b:nth-child(1){
	border-right:none;
	padding: 0px;
	font-size: 18px;
	margin-right: auto;
	color: #e11;
}
.nav-active{
	color: #e11;
}
/* 搜索栏 */
.search-{
	display: flex;
	width: 1200px;
	margin: 30px auto 0px;
}
.search-a>img{
	height: 95px;
	width: 130px;
}
.search-b{
	width: 792px;
	margin-left: 80px;
}
.search-c{
	align-items: center;
	margin-left: 60px;
	display: flex;
}
.search-d>input{
	border-radius: 5px 0px 0px 5px;
	padding: 8px 15px;
	border: 1px #e11 solid;
	border-right: none;
	outline: none;
	width: 430px;
}
.search-i>button{
	border: none;
	background-color: #e11;
	color: #fff;
	border-radius: 0px 5px 5px 0px;
	padding: 8px 18px;
	margin-right: 20px;
}
.search-j>button{
	border-radius: 5px 5px 5px 5px;
	padding: 6px 30px;
	color: #e11;
	border: 1px solid #ddd;
	background-color: #fff;
}
.search-e{
	color: #aaa;
	font-size: 12px;
	margin: 10px 0px 0px 8px;
	display: flex;
}
.search-active{
	color:#e11 ;
}
.search-f{
	cursor: pointer;
	margin-right: 13px;
}
.search-g{
	color: #999;
	margin-top: 20px;
	display: flex;
}
.search-h{
	cursor: pointer;
	margin-right: 23.5px;
}
.search-h:nth-last-child(1){
	margin-right: 0px;
}
/* 页脚 */
.below{
	
	background-color: #444;
	margin: 20px auto 0px;
	padding: 20px 0px;
}
.below_{
	width: 1190px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
}
.below_left{
	display: flex;
}
.below_left_first{
	font-size: 12px;
	color: #aaa;;
	margin-right: 40px;
}
.below_left_top1{
	color: #e11;
}
.below_left_second{
	font-size: 12px;
	color: #aaa;
	margin-right: 40px;
}
.below_left_top{
	font-size: 14px;
	color: ##aaa;
}
.below_left{
	display: flex;
}
.qr_code{
	text-align: center;
	width: 104px;
	font-size: 14px;
	color: #c2c2c2;
	margin-left: 40px;
}

/* 商品分类 */
.kind-{
	height: 492px;
	z-index: 1;
	position: relative;
	display: flex;
	margin: 30px auto 0px;
	width: 1200px;
}
.kind-a{
	background-color: #fff;
	z-index: 1;
	color: #666;
	font-size: 12px;
	box-sizing: border-box;
	padding: 15px 20px;
	border-radius: 8px 0px 0px 8px;
	height: 492px;
	width: 200px;
	box-shadow: 0px 0px 10px #ddd;
}
.kind-b{
	margin-bottom: 10px;
}
.kind-b:hover{
	color: #e11;
}
.hover:hover{
	color: #e11;
}
.kind-c{
	background-color: #fff;
	z-index: 1;
	color: #666;
	font-size: 14px;
	box-sizing: border-box;
	padding: 15px 20px;
	height: 492px;
	width: 790px;
	box-shadow: 0px 0px 10px #ddd;
	/* margin-right: 12px; */
}
.kind-d{
	display: flex;
	margin-bottom:10px;
}
.kind-e{
	width: 80px;
}
.kind-g{
	width: 680px;
	flex-wrap: wrap;
	display: flex;
}
.kind-f{
	text-decoration: none;
	color: #666;
	margin-right: 10px;
}
.active{
	display: none;
}
/* 轮播图 */
.img-{
	overflow: hidden;
	width: 790px;
	left: 210px;
	display: flex;
	position: absolute;
}
.img-a{
	overflow: hidden;
	height: 492px;
	display: flex;
}
.img-b>img{
	height: 492px;
	width: 790px;
}
.img-c{
	margin-right: 10px;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.5);
}
.img-active{
	background-color: rgba(255, 255, 255, 1);
}
.img-d{
	bottom: 20px;
	right:15px ;
	display: flex;
	position: absolute;
}
.img-e{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: auto;
}
.img-f{
	height: 150px;
}
.img-f>img{
	width: 190px;
}

/* 首页分类 */
.title-{
	display: flex;
	width: 1200px;
	margin: 20px auto;
}
.title-a{
	text-align: center;
	width: 180px;
	text-align: center;
	color: #999;
	box-sizing: border-box;
	font-size: 18px;
	border-radius: 5px 23px 23px 5px;
	box-shadow: #ccc 0px 0px 5px;
	padding: 10px 0px;
	font-weight: 700;
}

/* 分类页面 */
.cate-{
	width: 1200px;
	margin: 20px auto 30px;
	font-size: 14px;
	color: #888;
	padding: 10px 0px 20px 0px;
	box-shadow: 0px 0px 10px #ddd;
	border-radius: 5px;
}
.cate-a{
	margin-top: 10px;
	display: flex;
}
.cate-b{
	text-align: end;
	width: 145px;
	margin-right: 20px;
}
.cate-d{
	display: flex;
}
.cate-c{
	margin-right: 20px;
}
.cate-e{
	margin-right: 20px;
}
.cate-click{
	color : #e11;
}
/* spu组件 */
.spu-{
	width: 220px;
	margin: 0px 10px;
} 
.spu-a>img{
	width:220px ;
}
.spu-b{
	width: 220px;
	flex-wrap: wrap;
	margin-top: 5px;
	display: flex;
}
.spu-c>img{
	margin-right: 2px;
	border: #bbb 2px solid;
	width: 30px;
}
.spu-c:nth-child(1)>img{
	border: #e11 2px solid;
}
.spu-d>span{
	margin-left: 3px;
}
.spu-d{
	margin-top: 5px;
	font-weight: 700;
	font-size: 18px;
	color: #e11;
}
.spu-e{
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	margin-top: 10px;
	color: #777;
	font-size: 12px;
	margin-bottom: 10px;
}
.spu-f{
	margin: 0px auto;
	width: 1200px;
	flex-wrap: wrap;
	display: flex;
}
.spu-active{
	border: #e11 2px solid !important;
}
.spu-active1{
	border: #bbb 2px solid !important;
}

/* 商品详情样式 */
.detail-{
	width: 1200px;
	margin: 60px auto 10px;
	display: flex;
}
.detail-a{
	text-align: center;
}
.detail-b>img{
	width: 400px;
	margin-bottom: 10px;
}
.detail-d{
	color: #ccc;
	font-weight: 700;
	font-size: 32px;
}
.detail-c{
	display: flex;
	align-items: center;
}
.detail-e{
	overflow: hidden;
	width: 440px;
	display: flex;
}
.detail-g{
	overflow: hidden;
	display: flex;
}
.detail-f>img{
	box-sizing: border-box;
	margin: 0px 5px;
	width: 100px;
}
.detail-active{
	border: 3px #e11 solid;
}

/* 商品详情内容样式 */
.context-{
		
	margin-left: 20px;
}
.context-a{
	color: #555;
	font-weight: 700;
	font-size: 18px;
}
.context-b{
	margin-top: 15px;
	margin-bottom: 25px;
	display: flex;
	align-items: flex-end;
	height: 30px;
}
.context-c{
	font-size: 18px;
	font-weight:700;
	color: #e11;
}
.context-d{
	line-height: 30px;
	margin-left: 5px;
	color: #e11;
	font-size: 30px;
	font-weight:700;
}
.context-e{
	margin-left: 20px;
	color: #999;
	font-size: 14px;
	font-weight:700;
}
.context-f{
	text-decoration: line-through;
	color: #999;
	font-size: 18px;
	font-weight:700;
}
.context-g{
	width: 100px;
	color: #999;
	font-weight:700;
}
.context-h{
	margin-right: 75px;
	margin-top: 5px;
	align-items: flex-start;
	display: flex;
}
.context-k>img{
	border-radius: 5px 0px 0px 5px;
	width: 30px;
}
.context-j{
	font-weight: 700;
	color:#999 ;
	font-size: 14px;
	line-height: 30px;
	border-radius: 5px;
	border: #ccc solid 1px;
	height: 30px;
	display: flex;
	margin-right: 10px;
	margin-bottom: 10px;
}
.context-l{
	margin-right: 10px;
}
.context-n{
	width: 550px;
	display: flex;
	flex-wrap: wrap;
}
.context-i{
	width: 550px;
	flex-wrap: wrap;
	display: flex;
}
.context-t{
	display: flex;
	margin-top: 30px;
}
.context-u1>input{
	width: 65px;
	padding: 5px 10px;
	border: 1px #e11 solid;
	margin-right: 20px;
}
.context-u>button{
	color: #fff;
	border: none;
	padding: 5px 10px;
	margin-right: 20px;
	background-color: #e11;
}
.context-active{
	border: 1px #e11 solid;
}
